<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>Restaurants</title>
    <meta name="description" content="Restaurants" />
    <meta name="author" content="Daniel" />

    <!-- <link rel="stylesheet" href="css/styles.css?v=1.0"> -->
  </head>
</html>
