<%- include("partials/head") -%> <%- include("partials/header") -%>

<div class="container container--main">
  <h1>Welcome...</h1>

  <p>
    Please
    <a href="/auth/linkedin">Login</a> to continue.
  </p>
</div>

<%- include("partials/footer") -%>
