<%- include("partials/head") -%> <%- include("partials/header") -%>

<div class="container container--main">
  <h2>Welcome...</h2>
  <p>
    <% if ( user.displayName ) { %> <% } else { %> Please
    <a href="/auth/linkedin"> Login </a> to continue. <% } %>
  </p>
</div>

<%- include("partials/footer") -%>
