header {
  color: white;
  background-color: maroon;
  min-height: 5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

footer {
  margin-top: 5rem;
  padding: 1rem 0;
  min-height: 15rem;
  color: white;
  background-color: maroon;
}

form {
  max-width: 40rem;
}

.row--restaurants .col-md-3 {
  margin-top: 1rem;
}

.container--main {
  margin-top: 2rem;
}
