.container {
    margin-top: 2rem;
}

header {
    color: white;
    background-color: maroon;
    min-height: 5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}

footer {
    margin-top: 5rem;
    padding: 1rem 0;
    min-height: 5rem;
    color: white;
    background-color: maroon;
}

.row__restaurants {
    margin-top: 1rem;
}